<a href="https://colab.research.google.com/github/kartiksingh0/100days-of-machine-learning/blob/main/binning(Discretization).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
from sklearn.model_selection import  train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [6]:
df = pd.read_csv('/content/train (1).csv',usecols=['Age','Fare','Survived'])

In [7]:
df.head(3)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(714, 3)

In [10]:
X= df.iloc[:,1:]
y = df.iloc[:,0]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
X_train.head(3)

      Age     Fare
328  31.0  20.5250
73   26.0  14.4542
253  30.0  16.1000

In [17]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [18]:
accuracy_score(y_test,y_pred)

0.6223776223776224

In [19]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

np.float64(0.6330985915492958)

In [20]:
kbin_age = KBinsDiscretizer(n_bins=15,encode= 'ordinal',strategy='quantile')
kbin_fair = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')